<menu></menu>
<img src="assets/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <div id="page">
                <!-- header -->
                <section id="body-content">
                    <div class="container" id="login-page">
                        <div id="top-login" class="clearfix hidden-sm">
                            <div id="login-top-bar-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <div class="row">
                                    <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                                        <div class="text-uppercase"><span class="relative"><span class="sprite safe"></span>An
                                                toàn</span></div>
                                    </div>
                                    <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                                        <div class="text-uppercase"><span class="relative"><span class="sprite bus"></span>Luôn
                                                có tuyến</span></div>
                                    </div>
                                    <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                                        <div class="text-uppercase"><span class="relative"><span class="sprite faq"></span>Hỏi
                                                đáp</span></div>
                                    </div>
                                </div>
                            </div>
                            <div id="login-top-bar-right" class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <p class="text-uppercase">Hãy tải app để chúng tôi phục vụ bạn tốt hơn <span class="sprite ico-app hidden-xs"></span>
                                </p>
                            </div>
                        </div>
                        <div id="body-register" class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <img src="assets/Content/res/banner-dangky.jpg" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <div id="register-form-wrapper" class="border padding10 clearfix">
                                    <form  (ngSubmit)="onSubmit()">
                                        <input name="__RequestVerificationToken"
                                            type="hidden" value="CqmsYo50POKxTZwSE9sfldJS3f9YiQAFkHtj-O5ERhgg1gRgsrsi9bfveyQKdEKCdvEqLVnZAZNghwd555mJwfexhf81" />
                                        <h3 class="text-uppercase">Đăng ký</h3>
                                        <p class="text-muted">
                                            <small>
                                                Lưu ý: Không hỗ trợ hotmail và outlook email<br> Chỉ với 1 tài khoản
                                                FUTABUS
                                                ID, tham gia được tất cả các chương trình FUTA Bus Lines
                                            </small>
                                        </p>
                                        <div class="form-group">
                                            <label for="hoten">Họ tên <span class="text-primary">*</span></label>
                                            <input class="form-control" id="hoten" name="hoten" placeholder="Điền họ tên" type="text" [(ngModel)]="objectDangKi.hoten" [ngModelOptions]="{standalone: true}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Email <span class="text-primary">*</span></label>
                                            <input class="form-control" id="email" name="email" placeholder="Điền địa chỉ email"
                                                type="text"  [(ngModel)]="objectDangKi.email" [ngModelOptions]="{standalone: true}"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                                    <label for="">Mật khẩu <span class="text-primary">*</span></label>
                                                    <input class="form-control" id="matkhau" name="matkhau"
                                                        placeholder="Điền mật khẩu" type="password" [(ngModel)]="objectDangKi.matkhau" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                                    <label for="">Nhắc lại mật khẩu <span class="text-primary">*</span></label>
                                                    <input class="form-control" id="matkhaunhaplai" name="matkhaunhaplai"
                                                        placeholder="Nhập lại mật khẩu" type="password" [(ngModel)]="objectDangKi.matkhaunhaplai" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="text-uppercase">Thông tin khác</h3>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                                    <label for="">Số di động <span class="text-primary">*</span></label>
                                                    <input class="form-control" id="sodienthoai" name="sodienthoai" placeholder="Điền số di động"
                                                        type="text" value="" [(ngModel)]="objectDangKi.sodienthoai" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                                    <label for="">Số CMND <span class="text-primary">*</span></label>
                                                    <input class="form-control" id="chungminhnhandan" name="chungminhnhandan"
                                                        placeholder="Điền số chứng minh thư" type="text" value="" [(ngModel)]="objectDangKi.chungminhnhandan" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group"><h3 style="color: red;">{{thongbao}}</h3></div>
                                        <div class="form-group clearfix">
                                            <button type="submit" class="btn btn-primary pull-right">HOÀN TẤT</button>
                                        </div>
                                        <p class="clearfix">
                                            <small class="pull-right"><span class="text-primary">*</span> Mục bắt buộc
                                            </small>
                                        </p>
                                        <p class="text-center">
                                            Nếu bạn đã có FUTABUS ID. CLick <a [routerLink]="'/dangnhap'">đây</a> để
                                            đăng
                                            nhập
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <Footer></Footer>