<nav>
    <div class="container">
        <!--<div id="logo" class="pull-left">
            <a href="index.html" class="">
                <img id="logo-main" src="assets/Content/img/logo-futa.png" alt="">
            </a>
        </div>-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="collapse" data-target="" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <!--<ul class="pull-right hidden-xs">
            <li><a href="vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
            <li><a href="vi-VN/cac-chuong-trinh-khuyen-mai.html">Khuyến mãi</a></li>
            <li><a href="vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
            <li><a href="vi-VN/ve-xe-phuong-trang-lien-he.html">Liên hệ</a></li>

<li><a href="https://id.futabus.vn/">Đăng nhập</a></li>
<li><a href="https://id.futabus.vn/User/Register">Đăng ký</a></li>

        </ul>-->
    </div>
</nav>