<menu></menu>

<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-top"> 
                <div class="container">
                    <div class="row"  >
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12" style="float:left">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="v-tabs clearfix" role="tablist">
                                    <li role="presentation" class="active"><a href="#booking" aria-controls="home" role="tab"
                                            data-toggle="tab">Mua vé trực tuyến</a></li>
                                    <li><a [routerLink]="'/huongdan'" class="text-default">Hướng dẫn đặt vé</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div style="float:left">
                                <m_datve></m_datve>
                            </div>
                            </div>
                            
                        </div>
                       
                        <m_slider></m_slider>
                        <!--////Slider image-->
                    </div>
                    
                </div>
                
            </section>
            <div style="clear:both"></div>
            
            <!--Khoi hanh tu cac thanh pho-->
            <p_khoihanhtp></p_khoihanhtp>
            <!--Thong tin can biet-->
            <section class="container" id="more-info">
                <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Thông tin cần biết</h3>
                <div class="row">
                    <div class="col-md-4 thongtin-block">
                        <img src="assets/Content/img/private/imgqdchung-17.png" />
                        <div class="thongtin-text">
                            <h3>Những quy định chung</h3>
                            <p>
                                Công ty xe khách Phương Trang khuyến khích quý khách đặt chỗ trước nhằm đảm bảo luôn có vị trí ghế cho quý vị, tuy nhiên
                                quý vị vẫn có thể đến tại bến để đi mà không cần gọi đặt chỗ. Quý hành khách có thể mua vé
                                bằng các hình thức linh hoạt nhưng vẫn đảm bảo...
                            </p>
                            <a href="#" onclick="Updating(); return false;">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-md-4 thongtin-block">
                        <img src="assets/Content/img/private/imgvchanghoa-18.png" />
                        <div class="thongtin-text">
                            <h3>Vận chuyển hàng hóa</h3>
                            <p>
                                Mỗi hành khách chỉ được mang theo 1 vali với kích thước trung bình và 1 túi hành lý với kích cỡ xách tay. Hành lý được chấp
                                thuận bao gồm vali, túi vải, thùng với những khóa an toàn, mọi sự mất mát bên trong hành
                                lý khi có khóa an toàn chúng tôi không chịu trách nhiệm...
                            </p>
                            <a href="#" onclick="Updating(); return false;">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-md-4 thongtin-block">
                        <img src="assets/Content/img/private/imgtongtinhanhly-19.png" />
                        <div class="thongtin-text">
                            <h3>Thông tin hành lý</h3>
                            <p>
                                Để đảm bảo sự an toàn cho các hàng hóa vận chuyển và an toàn cho sự di chuyển của tất cả quý hành khách trên chuyến xe, quý
                                hành khách có nhu cầu với dịch vụ vận chuyển hàng hóa vui lòng đọc kĩ các quy định liên quan
                                đến hàng hóa cần vận chuyển bên dưới đây...
                            </p>
                            <a href="#" onclick="Updating(); return false;">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </section>
            <div id="fb-root"></div>
        </div>
        
        <Footer></Footer>
    </div>
</div>



