<div class="row">
    <div class="title-area">
        <h2 class="tittle">Chi nhánh <span class="text-info">FUTA Bus Lines</span></h2>
        <span class="tittle-line"></span>
        <p>Phòng vé trải dài trên khắp các tuyến hoạt động phục vụ nhu cầu đi lại của quý khách</p>
    </div>
    <div class="col-md-4">
        <h3 class="title-2">
            Miền Nam <sup>{{tongsoMN}}</sup>
        </h3>
        <ul class="index-list">
            <li *ngFor='let cn of dsMN'>
                <h6>
                    {{cn.name_chinhanh}}
                </h6>
                <hr />
                <p class="text-info">
                    <i class="fa fa-map-marker"></i>{{cn.diachi_chinhanh}}
                </p>
                <p class="text-danger"><i class="fa fa-phone"></i>{{cn.sdt_chinhanh}} </p>
                <a href="#MapModal" data-name="Ch&#226;u Đốc|89 Phan Văn V&#224;ng , P.Ch&#226;u Ph&#250; B, TP.Ch&#226;u Đốc, An Giang|02963 565 888   "
                    data-locale=" cn.toado_chinhanh" data-toggle="modal"><i class="fa fa-street-view" aria-hidden="true"></i>&ensp;Tìm
                    đường đi</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="title-2">
            Miền Trung <sup>{{tongsoMT}}</sup>
        </h3>
        <ul class="index-list">
            <li *ngFor='let cn of dsMT'>
                <h6>
                    {{cn.name_chinhanh}}
                </h6>
                <hr />
                <p class="text-info">
                    <i class="fa fa-map-marker"></i>{{cn.diachi_chinhanh}}
                </p>
                <p class="text-danger"><i class="fa fa-phone"></i>{{cn.sdt_chinhanh}} </p>
                <a href="#MapModal" data-name="BX Đ&#224; Nẵng|37 Nam Tr&#226;n, P.H&#242;a Minh, Q.Li&#234;n Chiểu, TP.Đ&#224; Nẵng (BX Đ&#224; Nẵng)|02363 786 786  "
                    data-locale=" cn.toado_chinhanh" data-toggle="modal"><i class="fa fa-street-view" aria-hidden="true"></i>&ensp;Tìm
                    đường đi</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="title-2">
            Miền Bắc <sup>{{tongsoMB}}</sup>
        </h3>
        <ul class="index-list">
            <li *ngFor='let cn of dsMB'>
                <h6>
                    {{cn.name_chinhanh}}
                </h6>
                <hr />
                <p class="text-info">
                    <i class="fa fa-map-marker"></i>{{cn.diachi_chinhanh}}
                </p>
                <p class="text-danger"><i class="fa fa-phone"></i>{{cn.sdt_chinhanh}} </p>
                <a href="#MapModal" data-name="BX Gi&#225;p B&#225;t|Km số 6, đường Giải Ph&#243;ng, P.Ho&#224;ng Liệt, Q.Ho&#224;ng Mai, H&#224; Nội (BX Gi&#225;p B&#225;t)|0243 864 19 19  "
                    data-locale=" cn.toado_chinhanh" data-toggle="modal"><i class="fa fa-street-view" aria-hidden="true"></i>&ensp;Tìm
                    đường đi</a>
            </li>
        </ul>
    </div>
</div>