

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="booking" >
        <form class="form" name="bookingPartialForm">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="form-group">
                        <label for="">Điểm khởi hành</label>
                        <div class="controls">
                            <i class="fa fa-bus text-primary"></i>
                            
                            <select  (change)="onChange($event)" class="form-control " >
                                <option  *ngFor="let diadiem1 of ds_diadiemkhoihanh"  [value]="diadiem1.v">{{diadiem1.t}}</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="form-group">
                        <label for="">Điểm đến</label>
                        <div class="controls">
                            <i class="fa fa-bus text-primary"></i>
                            
                            <select class="form-control ">
                                <option *ngFor="let diadiem2 of ds_diadiemden"  value="{{diadiem2.v}}">{{diadiem2.t}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="form-group">
                        <label for="">Ngày khởi hành</label>
                        <div class="controls">
                            <i class="fa fa-clock-o text-primary"></i>
                            
                            <input type="text" placeholder=" dd/mm/yyyy" class="form-control dDate date-readonly" id="ngay" value="25-08-2018" readonly/>
                            <small><em>Định dạng: dd-mm-yyyy</em></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="form-group">
                        <label for="">Số lượng vé</label>
                        <div class="controls">
                            <i class="fa fa-ticket text-primary"></i>
                            
                            <input type="number" name="numOfTicket" placeholder="1" value="1" class="form-control" min="1" max="10" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-ms-12">
                    
                    <a href="#DatveModal" data-toggle="modal">
                        <button type="button"  class="btn btn-primary btn-block btn-flat btn-booking">
                            <i class="fa fa-ticket icon-flat bg-btn-actived "></i>Mua vé</button></a>

                </div>
                
                
            </div>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile" >
            
    </div>

</div>
<!-- Form Đặt Vé -->
<m_chitietdatve></m_chitietdatve>