<section class="container" id="star-city">
    <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Khởi hành từ các thành phố lớn</h3>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-01.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Sài Gòn</span><a href="#hienbando" data-toggle="modal"> (Xem bản đồ)</a></p>
                <p>Hotline: <span>1900 6067</span></p>
                <p>Điểm đến: Châu Đốc, Cần Thơ, Cà Mau, Đà Lạt, Mũi Né, Qui Nhơn, Nha Trang,...</p>
                <div class="clearfix"></div>
            </div>
            <m_bando></m_bando>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-02.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Đà Lạt</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02633 58 58 58</span></p>
                <p>Điểm đến: Nha Trang, Đà Nẵng, Huế, Sài Gòn, Cần Thơ, Quy Nhơn,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-03.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Nha Trang</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02583 812 812</span></p>
                <p>Điểm đến: Sài Gòn, Đà Lạt, Đà Nẵng, Huế, Hà Nội, Cần Thơ,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-04.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Cần Thơ</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02923 769 768</span></p>
                <p>Điểm đến: Sài Gòn, Cà Mau, Rạch Giá, Châu Đốc, Đà Lạt,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-05.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Đà Nẵng</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02363 786 786</span></p>
                <p>Điểm đến: Đà Lạt, Sài Gòn, Nha Trang, Hà Nội, Bảo Lộc,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-06.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Hà Nội</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>0243 864 19 19</span></p>
                <p>Điểm đến: Đà Nẵng, Nam Định,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-07.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Hà Tiên - Rạch Giá</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02973 66 88 66 - 02973 691 691</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-08.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Cà Mau - Năm Căn</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02903 651 651 - 02903 715 715</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="assets/Content/img/private/webfutabusline-09.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Long Xuyên - Châu Đốc</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02963 98 9999 - 02963 565 888</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>