<img src="assets/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
                <div style="background: #FFF url(assets/Content/res/bg-aboutus.jpg) no-repeat top center" class="single-content">
                    <div class="container inner-single-content bg-white">
                        <h1 class="text-center text-primary">PHƯƠNG TRANG</h1>
                        <p class="text-center quote">"Các điều khoản của chương trình Đặt vé Tết trực tuyến online"</p>
                        <div class="body-text">
                            <p><strong>Xin vui lòng đọc các điều khoản sau trước khi sử dụng dịch vụ thanh toán trực tuyến.
                                    Với việc truy cập vào phần này của website, bạn đã đồng ý với các điều khoản sử dụng
                                    của chúng tôi. Các điều khoản này có thể thay đổi theo thời gian và bạn sẽ phải tuân
                                    theo các điều khoản được hiển thị từ thời điểm bạn đọc được các điều khoản này.</strong></p>
                            <p><strong>01.</strong> Chương trình thanh toán online được áp dụng cho các chuyến xe nhất định
                                của <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span>. Thành
                                viên của <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span>
                                cũng như khách vãng lai thực hiện được hình thức thanh toán này. Việc đăng ký tham gia Thành
                                viên <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span> là
                                hoàn toàn miễn phí.</p>
                            <p><strong>02.</strong> Quý khách có thể thanh toán trực tuyến tối đa 4 vé cho một lần giao dịch.</p>
                            <p><strong>03.</strong> <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> không chấp nhận hoàn tiền hoặc đổi vé trong dịp Lễ, Tết đã thanh toán thành
                                công trên website <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span>,
                                ngày thường qúy khách được quyền chuyển đổi hoặc hủy vé một lần duy nhất trước giờ xe chạy
                                24 giờ, phí hủy vé 10%. Vì vậy, rất mong Quý khách kiểm tra cẩn thận các thông tin vé trước
                                khi tiến hành xác nhận đặt vé và thanh toán. Đồng thời, trong trường hợp đã đặt vé và thanh
                                toán trực tuyến, nếu bạn bỏ chuyến xe sẽ không được hoàn chi phí. - <span class="text-success">FUTA</span>
                                <span class="text-primary">Bus Lines</span> chỉ thực hiện hoàn tiền trong trường hợp khi
                                giao dịch, tài khoản của Quý khách đã bị trừ tiền nhưng hệ thống của chúng tôi không ghi
                                nhận việc đặt vé của Quý khách, và Quý khách không nhận được xác nhận đặt vé thành công.
                                Khi đó, Quý khách vui lòng liên hệ với chúng tôi qua tổng đài 1900 6067 để được hỗ trợ. -
                                Sau khi đã xác nhận các thông tin của khách hàng cung cấp về giao dịch không thành công,
                                tùy theo từng loại tài khoản ngân hàng khách hàng sử dụng mà việc hoàn tiền sẽ có thời gian
                                khác nhau. Vì thế chúng tôi khuyên Quý khách hãy cân nhắc kỹ trước khi khi thanh toán vé
                                trực tuyến.</p>
                            <p><strong>04.</strong> Sau khi hoàn thành việc thanh toán vé trực tuyến, Quý khách sẽ nhận được
                                thư xác nhận thông tin chi tiết vé đã đặt thông qua địa chỉ thư điện tử (email) mà bạn đã
                                cung cấp. Đồng thời, chúng tôi cũng sẽ gửi tin nhắn (SMS) thông báo mã giao dịch tới số điện
                                thoại Quý khách đăng ký. Chúng tôi không chịu trách nhiệm trong trường hợp Quý khách nhập
                                sai địa chỉ email, số điện thoại và thông tin cá nhân khác dẫn đến không nhận được thư xác
                                nhận. Vì vậy, vui lòng kiểm tra lại chính xác các thông tin trước khi thực hiện thanh toán.
                                Lưu ý là email và SMS này chỉ có tính chất xác nhận thông tin vé sau khi Quý khách đã đặt
                                vé thành công. Do đó, chúng tôi đề nghị Quý khách đọc kĩ các thông tin về chuyến đi, giờ
                                khởi hành và chỗ ngồi... trước khi hoàn tất việc xác nhận tất cả các thông tin về vé. Email
                                xác nhận thông tin đặt vé có thể đi vào hộp thư rác (spam mail) của Quý khách, vì vậy hãy
                                kiểm tra chúng trước khi liên lạc với chúng tôi. - Sau 30 phút kể từ khi Quý khách thanh
                                toán thành công mà vẫn chưa nhận được bất kỳ xác nhận nào (qua email hoặc SMS), vui lòng
                                liên hệ chúng tôi qua tổng đài 1900 6067 để được hỗ trợ. Nếu Quý khách không liên hệ lại
                                coi như <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span>
                                đã hoàn thành nghĩa vụ với Quý khách.</p>
                            <p><strong>05.</strong> Vui lòng mang thư xác nhận có chứa mã giao dịch để đổi vé lên xe tại
                                văn phòng đã đăng ký, trước giờ xuất bến ít nhất 60 phút để thuận tiện cho việc lấy vé. Khi
                                đến lấy vé tại quầy vé, nhân viên <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> cần đối chiếu thông tin xuất trình giấy tờ tùy thân để chứng minh hợp lệ
                                cho việc lấy vé, Quý khách cần xuất trình một trong các giấy tờ tùy thân có ảnh như: CMND,
                                hộ chiếu, bằng lái xe, thẻ học sinh sinh viên và giấy khai sinh (nếu Quý khách có mua vé
                                cho trẻ em) còn hiệu lực để được lấy vé. - Trong trường hợp Quý khách đặt vé trước và chọn
                                hình thức Thanh toán sau, vui lòng thực hiện thanh toán cho chúng tôi trong vòng 12 giờ (từ
                                07:00 đến 19:00 hàng ngày trừ thứ Bảy và Chủ nhật) để vé xe của Quý khách được hợp lệ. Vé
                                xe được đặt trước từ website <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> sẽ được giữ riêng cho Quý khách cho đến hết thời hạn xuất vé. Nếu Quý khách
                                không đến lấy vé và thanh toán trong thời gian qui định, hệ thống sẽ tự động khóa lệnh đặt
                                vé của Quý khách và Quý khách sẽ không thể lấy vé được.</p>
                            <p><strong>06.</strong> Bằng việc thanh toán qua website này, Quý khách chấp nhận giờ khởi hành,
                                vị trí ghế ngồi... mà Quý khách đã đặt. Quý khách đồng ý rằng, trong những trường hợp có
                                sự thay đổi về chuyến đi hoặc bất khả kháng, chúng tôi có quyền hoàn trả lại bất kỳ vé nào
                                từ việc mua bán qua website này hoặc thực hiện việc chuyển vé cho Quý khách qua chuyến khác
                                theo yêu cầu của Quý khách trong trường hợp chúng tôi còn chỗ.</p>
                            <p><strong>07.</strong> <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> (hoặc bên thứ ba - nhà cung cấp cổng thanh toán điện tử, hoặc/và các bên
                                ký kết khác) sẽ sử dụng các công nghệ đặc biệt để nhận biết các hoạt động giả mạo trên trang
                                mạng như: sử dụng thẻ tín dụng giả... Sự chấp nhận hợp tác của Quý khách cùng với nỗ lực
                                của <span class="text-success">FUTA</span> <span class="text-primary">Bus Lines</span> là
                                rất cần thiết. Quý khách chấp chận rằng <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> có thể chấm dứt quyền truy cập và sử dụng trang mạng của <span class="text-success">FUTA</span>
                                <span class="text-primary">Bus Lines</span> nếu Quý khách hoặc người khác hành động nhân
                                danh Quý khách vì lý do nào đó nằm trong diện nghi vấn có gian lận hoặc vi phạm các điều
                                khoản này.</p>
                            <p><strong>08.</strong> <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> sẽ hết sức cố gắng sử dụng mọi biện pháp và tuân theo mọi cách thức có thể
                                để giữ an toàn cho tất cả các thông tin cá nhân của Quý khách, và chúng tôi cũng sẽ thường
                                xuyên cập nhật những thông tin chính xác nhất. Website này có những công nghệ an ninh đảm
                                bảo việc bảo vệ các thông tin bị thất lạc, lạm dụng hoặc thay đổi. Tất cả các giao dịch và
                                thông tin về thẻ đươc sử dụng đều được đảm bảo an toàn cho các giao dịch kinh tế ngày nay.
                                Mặc dù vậy, không phải tất cả các dữ liệu truyền qua Internet đều có thể đảm bảo 100%, vì
                                thế chúng tôi không thể đưa ra một sự đảm bảo tuyệt đối rằng mọi thông tin Quý khách cung
                                cấp đều được bảo vệ tât cả mọi lúc.</p>
                            <p><strong>09.</strong> Thông tin cá nhân của Quý khách mà chúng tôi có được trong quá trình
                                giao dịch chỉ dùng vào các mục đích sau: + Hỗ trợ và giải đáp các thắc mắc của Quý khách.
                                + Cập nhật các thông tin mới nhất về các chương trình, dịch vụ... của <span class="text-success">FUTA</span>
                                <span class="text-primary">Bus Lines</span> đến Quý khách. - Chúng tôi thu thập và sử dụng
                                thông tin cá nhân của Quý khách phù hợp với mục đích đã nêu bên trên và hoàn toàn tuân thủ
                                nội dung của “Chính sách bảo mật” này. Chúng tôi cam kết chỉ sử dụng cho mục đích và phạm
                                vi đã nêu và không tiết lộ cho bất kỳ bên thứ ba nào khi chưa có sự đồng ý bằng văn bản của
                                Quý khách. - Xin lưu ý chúng tôi được quyền cung cấp thông tin cá nhân của Quý khách trong
                                trường hợp khi có yêu cầu từ các cơ quan Nhà nước có thẩm quyền.</p>
                            <p><strong>10.</strong> <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> có quyền tạm ngưng, hoãn hoặc thay đổi điều khoản của chương trình Đặt vé
                                trực tuyến (Booking Online) tại bất kì thời điểm nào mà không cần báo trước. Trong trường
                                hợp có tranh chấp xảy ra, quyết định của <span class="text-success">FUTA</span> <span class="text-primary">Bus
                                    Lines</span> là quyết định cuối cùng.</p>
                            <p><strong>11.</strong> Không được mang gia súc, gia cầm, động vật nuôi lên xe.</p>
                            <p><strong>Khi sử dụng dịch vụ thanh toán trực tuyến từ website <span class="text-success">FUTA</span>
                                    <span class="text-primary">Bus Lines</span> bạn đã hoàn toàn đồng ý với các điều khoản
                                    sử dụng của chúng tôi. Chúng tôi sẽ không chịu trách nhiệm khi Quý khách không thực hiện
                                    đúng với các quy định trong điều khoản này. </strong></p>
                        </div>
                    </div>
                </div>
            </section>
           <!--module news -->
           <m_gioithieunews></m_gioithieunews>
            </div>
            <Footer></Footer>
        <!--footer-->
    </div>
</div>