<menu></menu>

<div id="br-cover-content">
 <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
            
                <div style="background: #FFF url(assets/Content/res/bg-aboutus.jpg) no-repeat top center" class="single-content">
                    <div class="container inner-single-content bg-white">
                        <p class="text-center quote">Hướng dẫn đặt vé</p>
                        <div style="margin:auto; width: 500px" >
                        <p>Website Bán vé xe khách là một dich vụ đặt vé <span style="color:red;">An toàn - Luôn có tuyến</span>.</p>
                        <p>Cảm ơn quý khách đã sử dụng dịch vụ lữ hành của chúng tôi.
                            Chúng tôi đã cải tiến mua vé trực tuyến nhằm giúp quý khách có 
                            trải nghiệm tốt nhất và tiết kiệm.
                        </p>
                        <h3>Các bước đặt vé trực tuyến từ trang web:</h3>
                        <ol>
                           <li>
                               <h4>Bước 1: Chọn thông tin hành trình</h4>
                               <p>Quý khách chọn Điểm khời hành, điểm đến trên form của Mua vé trực tuyến
                               </p>
                               <img src="assets/Content/img/buoc1.JPG" />
                        </li> 
                           <li><h4>Bước 2: Chọn các thông tin ngày đi, số ghế, giờ, số diện thoại</h4>
                            <p>
                                Sau khi chọn thông tin điểm đến và khời hành, nhấn mua vé và nhập thêm thông tin để
                                có thể cho quý khách chọn số ghế theo ý muốn. 
                            </p>
                            <img src="assets/Content/img/buoc2.JPG" />
                        </li> 
                           <li><h4>Bước 3: Thanh toán</h4>
                            <p>
                                Sau khi đã chọn các thông tin mà muốn đi thì nhấn đặt vé để vào bươc thanh toán
                            </p>
                        </li> 
                           
                        </ol>
                    </div>
                       <!-- <div class="text-center" id="intruction_page">
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-01.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-01.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-02.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-02.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-03.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-03.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-04.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-04.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-05.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-05.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-06.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-06.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-07.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-07.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-08.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-08.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-09.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-09.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-10.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-10.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-11.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-11.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-12.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-12.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-13.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-13.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-14.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-14.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-15.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-15.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-16.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-16.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-17.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-17.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-18.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-18.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-19.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-19.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-20.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-20.jpg" />
                            </a>
                            <a href="assets/Content/img/futa_guidebook/HUONGDANDATVE-21.jpg">
                                <img src="assets/Content/img/futa_guidebook/HUONGDANDATVE-21.jpg" />
                            </a>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <Footer></Footer>
    </div>
</div>