<menu></menu>
<img src="assets/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
                <div style="background: #FFF url(assets/Content/res/bg-aboutus.jpg) no-repeat top center" class="single-content">
                    <div class="container inner-single-content bg-white">
                        <h1 class="text-center text-primary">PHƯƠNG TRANG</h1>
                        <p class="text-center quote">"Chất lượng là danh dự"</p>
                        <div class="body-text">
                            <h3>
                                <i class="fa fa-share text-success"></i> Giới thiệu
                            </h3>
                            <blockquote>
                                <p>
                                    <img class="pull-right" width="400" src="assets/Content/res/futa-thumb-about.png" />Công
                                    ty Phương Trang được thành lập vào ngày 15 tháng 11 năm 2002 với hoạt động kinh doanh
                                    chính trong lĩnh vực mua bán xe ô tô, vận tải hành khách, bất động sản và kinh doanh
                                    dịch vụ.
                                </p>
                                <p>
                                    Ra đời từ một doanh nghiệp nhỏ với số lượng đầu xe chỉ từ 5 đến 10 xe khách các loại. Trải qua quá trình hoạt động, với đường
                                    lối kinh doanh Uy tín - Chất lượng, với phương châm phục vụ "Chất lượng là danh dự",
                                    sự lịch thiệp, hòa nhã, tận tình, chu đáo của đội ngũ nhân viên, Công ty Cổ phần Đầu
                                    tư Phương Trang đã trở thành một địa chỉ tin cậy của đông đảo khách hàng trong cả nước,
                                    được hành khách và lãnh đạo chính quyền các cấp hết lòng khen ngợi và đánh giá cao.
                                </p>
                                <p>
                                    Trong lĩnh vực vận tải hành khách Công ty mở rộng hoạt động vận tải chất lượng cao phục vụ cho nhu cầu đi lại của người dân
                                    từ khu vực miền Trung từ Huế, Đà Nẵng đến hầu hết các tỉnh thuộc khu vực Đồng bằng sông
                                    Cửu Long. Với hình ảnh chiếc xe 45 chỗ màu cam hiện đại, tiện nghi cùng với màu áo xanh
                                    lá cây đậm của đội ngũ lái xe Phương Trang đã tỏa đi hầu hết các nẻo đường cả nước từ
                                    Huế trở vào cuối miền Đất Nước. Lượng xe của Phương Trang Corporation ngày càng phát
                                    triển và được đầu tư đúng mức. Đến nay, công ty đã có trên 200 xe khách 45 chỗ thương
                                    hiệu Huyndai dòng cao cấp nhất dành cho các tuyến cố định:
                                </p>
                                <p>TP.HCM <i class="fa fa-arrows-h"></i> Đà Lạt, TP. HCM <i class="fa fa-arrows-h"></i> Cần
                                    Thơ, TP.HCM <i class="fa fa-arrows-h"></i> Vĩnh Long, TP.HCM <i class="fa fa-arrows-h"></i>
                                    Cà Mau, TP.HCM <i class="fa fa-arrows-h"></i> Rạch Giá, TP.HCM <i class="fa fa-arrows-h"></i>
                                    Long Xuyên, TP.HCM <i class="fa fa-arrows-h"></i> Châu Đốc, TP.HCM <i class="fa fa-arrows-h"></i>
                                    Mũi Né, TP.HCM <i class="fa fa-arrows-h"></i> Nha Trang, TP.HCM <i class="fa fa-arrows-h"></i>
                                    Qui Nhơn, TP.HCM <i class="fa fa-arrows-h"></i> Đà Nẵng, Đà Lạt <i class="fa fa-arrows-h"></i>
                                    Nha Trang, Đà Lạt <i class="fa fa-arrows-h"></i> Đà Nẵng, Đà Lạt <i class="fa fa-arrows-h"></i>
                                    Cần Thơ.</p>
                                <p>Ngoài ra công ty còn tham gia vào hoạt động vận tải công cộng tại các thành phố lớn như:
                                    xe buýt Nha Trang – Cam Ranh, xe buýt tại Đà Lạt. Người dân còn quen thuộc với hình ảnh
                                    taxi Future với đội xe Invona 7 chỗ đời mới phục vụ tối đa nhu cầu đi lại của hành khách
                                    tại TP. HCM. Các phương tiện vận chuyển hành khách của Phương Trang Corporation có mặt
                                    hầu hết trên các tuyến cố định nối liền các trung tâm kinh tế lớn với ưu thế có tầm hoạt
                                    động cao và an toàn nên Phương Trang Corporation được xem là đơn vị có chất lượng xe
                                    và cung cấp dịch vụ vận tải hành khách đứng đầu cả nước.</p>
                                <p>Kinh doanh bất động sản là lĩnh vực kinh doanh còn non trẻ của Công ty nhưng cũng đã đạt
                                    được những thành quả nhất định với những sản phẩm chất lượng cao đang chuẩn bị được chào
                                    bán để góp phần xây dựng một cộng đồng dân cư hiện đại. Người dân đã biết đến thương
                                    hiệu bất động sản Phương Trang thông qua dự án Khu căn hộ Đà Nẵng Plaza, Khu căn hộ cao
                                    cấp New Pearl, Dự án Khu Đô Thị Sinh Thái Biển Phương Trang Vịnh Đà Nẵng…</p>
                            </blockquote>
                        </div>
                        <img src="assets/Content/res/about-img.jpg">
                        <div class="body-text">
                            <h3>
                                <i class="fa fa-eye text-success"></i> Tầm nhìn
                            </h3>
                            <blockquote>
                                <p>Trở thành Công ty hàng đầu Việt Nam trong lĩnh vực cung cấp những sản phẩm và dịch vụ
                                    chất lượng tốt trong lĩnh vực bất động sản và vận tải hành khách với giá cả hợp lý cho
                                    cộng đồng. Công ty luôn hoạt động với phương châm “luôn thành tín – cùng hợp tác, cùng
                                    vinh danh, cùng sung túc”. Trong xu thế hội nhập hiện nay Công ty đang hướng đến việc
                                    phát triển và mở rộng hoạt động đa ngành nhằm hòa nhập vào công cuộc phát triển chung
                                    của đất nước.</p>
                            </blockquote>
                            <h3><i class="fa fa-shield text-success"></i> Sứ mệnh</h3>
                            <blockquote>
                                <p>Đảm bảo lợi ích cao nhất cho khách hàng bằng chất lượng sản phẩm và dịch vụ hàng đầu.
                                    Mọi hoạt động của Công ty đều đặt yếu tố CHẤT LƯỢNG lên hàng đầu với tôn chỉ “Chất lượng
                                    là danh dự”. Công ty luôn tìm cách giảm thiểu chi phí quản lý, giá thành nhằm mang lại
                                    chính sách giá ưu đãi và hợp lý nhất cho khách hàng. Mặc khác, chúng tôi không ngừng
                                    tăng cường các dịch vụ hậu mãi để đảm bảo lợi ích cao nhất cho khách hàng.</p>
                            </blockquote>
                            <h3><i class="fa fa-gavel text-success"></i> Triết lý</h3>
                            <blockquote>
                                <p>Hội nhập và phát triển, góp phần vào sự thịnh vượng của đất nước Nguồn nhân lực chính
                                    là nhân tố then chốt, là tài sản lớn nhất của Công ty. Chúng tôi chú trọng tạo môi trường
                                    làm việc hiện đại, năng động, thân thiện và trao cơ hội phát triển nghề nghiệp cho tất
                                    cả mọi thành viên. Sự hài lòng của khách hàng là minh chứng cho chất lượng dịch vụ của
                                    Công ty. Chúng tôi không ngừng hoàn thiện và phát triển năng lực kinh doanh, luôn tìm
                                    hiểu nhu cầu của khách hàng để đem đến những sản phẩm, dịch vụ hoàn hảo nhất, đáp ứng
                                    tối đa sự mong đợi của khách hàng.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <Footer></Footer>
    </div>
</div>