<div class="section-list" id="Star-ninh-hoa" *ngFor="let td of danhsachtuyenduong" >
    <h3 class="text-uppercase text-success">
        <span class="sprite ico-drive"></span> {{td.tentuyenduong}} <i class="fa fa-exchange"></i>
    </h3>
    <div class="table-responsive">
        <table class="table " >
            <thead>
                <tr class="text-white bg-light-green">
                    <th>STT</th>
                    <th data-toggle="true">Bến đi</th>
                    <th>Bến đến</th>
                    <th data-hide="phone">Loại xe</th>
                    <th data-hide="phone">Quãng đường</th>
                    <th data-hide="phone">Thời gian</th>
                    <th data-hide="phone">Số chuyến</th>
                    <th data-hide="phone">Giá vé</th>
                    <th data-hide="phone">Giờ chạy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="route-row1240"  *ngFor="let dstd of td.thongtin;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{dstd.bendi}}</td>
                    <td>{{dstd.benden}}</td>
                    <td>{{dstd.loaixe}}</td>
                    <td>{{dstd.quangduong}}</td>
                    <td>
                        {{dstd.thoigian}}
                    </td>
                    <td>{{dstd.sochuyen}}</td>
                    <td>
                        <p>
                            <strong class="text-primary">
                                {{dstd.giave}}<sup>đ/vé</sup>
                            </strong>
                        </p>
                    </td>
                    <td>
                        <a class="br-btn-flat br-watch-schedule" [routerLink]="['/chitietlichtrinh',dstd.OriginCode,dstd.DestCode]">
                            <i class="fa fa-clock-o icon-flat text-success"></i>
                        </a>
                    </td>
                    <!-- Bỏ mua vé ở trang xem tuyến đường -->
                    <td >
                
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
