<style>
 #loichao ul{
    display: none;
    position: absolute;
    z-index: 19999;
    left: -100px;
    background:  #EF5222;
    top: 40px;
    width: 100%;
 }
 #loichao ul li{
    width: 100%;
 }
 #loichao{
    position: relative;
 }
 #loichao:hover ul{
    display: block;
 }
 .anthe{
     display: none;
 }
</style>
<div id="top-nav" class="hidden-xs">
    <div class="container">
        <ul class="clearfix">
            <div *ngFor="let menu of ds_menu">
                    <li  *ngIf="loichao!='' && menu.id_menu!=4" >
                            <a [routerLink] = "menu.url_menu"  id="{{menu.id_menu}}"><i class="fa fa-bus" aria-hidden="true"></i>&ensp;{{menu.name_menu}}</a>
                    </li>
                    <li  *ngIf="loichao==''" >
                            <a [routerLink] = "menu.url_menu"  id="{{menu.id_menu}}"><i class="fa fa-bus" aria-hidden="true"></i>&ensp;{{menu.name_menu}}</a>
                    </li>
            </div>
           
            <li *ngIf="loichao!=''" id="loichao" style="color: aliceblue;text-transform: uppercase;">
                    {{loichao}}
                <ul >
                   <li style="color: aliceblue; text-transform: uppercase;" (click)="dangXuat()">Đăng xuất</li>
                </ul>
                <!--
                    <select  style="background: #EF5222;;border:none;color: mintcream;">
                    <option>{{loichao}}</option>
                    <option>Đăng xuất</option>
               
                </select> -->
            </li>
        </ul>
        
    </div>
</div>

