<menu></menu>

<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
                <div class="container" id="contact-page">
                    <div id="top-contact" class="clearfix">
                        <div class="bg-gray ">
                            <h3 class="text-primary">Liên hệ: </h3>
                            <p class="text-left">Cám ơn bạn đã ghé thăm website của chúng tôi. Nếu bạn muốn nhận được thông
                                tin từ chúng tôi dễ dàng, hãy điền vào form dưới đây. </p>
                        </div>
                    </div>
                    <div id="body-contact" class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                            <div class="col-lg-12">
                                <!--form lien he-->
                                <p_formLH></p_formLH>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-ms-12">
                            <div id="maps">
                                <div class="span11">
                                    <div id="map" style="height: 320px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--chi nhanh-->
                    <p_chinhanh></p_chinhanh>
                </div>
            </section>
        </div>
        <Footer></Footer>
    </div>
</div>