<menu></menu>
<img src="assets/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
                <div class="container" id="contact-page">
                    <div id="top-contact" class="clearfix">
                        <div class="bg-gray ">
                            <h3 class="text-primary">Liên hệ: </h3>
                            <p class="text-left">Cám ơn bạn đã ghé thăm website của chúng tôi. Nếu bạn muốn nhận được thông
                                tin từ chúng tôi dễ dàng, hãy điền vào form dưới đây. </p>
                        </div>
                    </div>
                    <div id="body-contact" class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                            <div class="col-lg-12">
                                <!--form lien he-->
                                <p_formLH></p_formLH>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-ms-12">
                            <div id="maps">
                                <div class="span11">
                                    <div id="map" style="height: 320px"></div>
                                </div>
                            </div>
                            <div id="contact-info" class="clearfix">
                                <h3 class="text-uppercase text-primary">Công ty cổ phần xe khách Phương Trang Futa Bus Lines</h3>
                                <p>Địa chỉ VP: 80 Trần Hưng Đạo, Q1, TP Hồ Chí Minh.</p>
                                <p>Địa chỉ phòng vé: 272 Đề Thám, Q1, TP Hồ Chí Minh.</p>
                                <p>
                                    Điện thoại VP: <strong>028 3838 6852</strong> - Fax: <strong>028 3838 6853</strong> |
                                    Email: <a href="mailto:hotro@futabus.vn">hotro@futabus.vn</a> | Website: <a href="futabus.html">futabus.vn</a>
                                </p>
                                <p class="hotline">Tổng đài đặt vé: <span>1900 6067</span></p>
                                <p class="clearfix hidden">
                                    <a href="#" class="btn btn-success pull-right">Tìm đường</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 margintop30">
                            <div class="col-md-4 col-sm-4 hidden-xs">
                                <img src="assets/Content/res/thenh.jpg" />
                            </div>
                            <div class="col-md-8 col-sm-8 col-ms-12">
                                <div class="alert alert-success">
                                    <h4><strong>Thông tin ngân hàng Agribank</strong></h4>
                                    <p>Tên chủ tài khoản: Cty CP xe khách Phương Trang Futa buslines.</p>
                                    <p>Ngân hàng Agribank - Chi nhánh TPHCM</p>
                                    <p>Số TK: 1700.2011.93660</p>
                                </div>
                                <div class="alert alert-info">
                                    <h4><strong>Thông tin ngân hàng VietinBank</strong></h4>
                                    <p>Tên chủ tài khoản: PHUONG TRANG FUTA.BL.</p>
                                    <p>Ngân hàng: TMCP Công Thương Việt Nam (VietinBank) - Chi nhánh Sài Gòn </p>
                                    <p>Số TK: 117 000 140 190</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--chi nhanh-->
                    <p_chinhanh></p_chinhanh>
                </div>
            </section>
        </div>
        <Footer></Footer>
    </div>
</div>