<menu></menu>
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <div id="page">
                <section id="body-content">
                    <div class="container" id="login-page">
                        <div id="body-login" class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <div id="login-form-left" class="border clearfix">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                                        <h3 class="text-uppercase text-center">Tôi đã đăng ký tài khoản</h3>
                                        <form  class="form-horizontal" #form_dang_nhap="ngForm" role="form">

                                            <div class="form-group">
                                                <label for="">Tên đăng nhập*</label>
                                                <input class="form-control" data-val="true" id="taikhoan" name="taikhoan"
                                                    placeholder="Điền email" type="email" value="" [(ngModel)]="taikhoan"
                                                
                
                                                    #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9-]+.[A-Za-z]{2,4}" required="required"   type="text"  [(ngModel)]="objectDangKi.email"
                                                    />
                                                    <div class="thong_bao_loi" *ngIf="email.invalid && !email.pristine"  >
                                                        <div *ngIf="email.errors.required" >
                                                            Vui lòng nhập email.
                                                        </div>
                                                        <div *ngIf="email.errors.pattern" >
                                                           Email sai định dạng.
                                                        </div>
                                                    </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="">Mật khẩu*</label>
                                                <input class="form-control" data-val="true" name="matkhau" id="matkhau"
                                                    placeholder="Điền mật khẩu" [(ngModel)]="matkhau" 
                                                    type="password" 
                                                    required="required" pattern="" title="" reverse="true"
                                                    />
                                            </div>


                                            <div class="form-group">
                                                <h3 style="color: red">{{thongbao}}</h3>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary pull-right" type="submit" [disabled]="form_dang_nhap.form.invalid" (click)="onDangNhap(form_dang_nhap)">
                                                    Đăng Nhập
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                <div id="login-form-right" class="border clearfix">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                                        <h3 class="text-uppercase text-center">Bạn là khách hàng mới?</h3>
                                        <p class="text-center">
                                            <a [routerLink]="'/dangky'" class="btn btn-success">Đăng ký</a>
                                        </p>
                                        <p class="text-muted text-center">
                                           Hãy đăng ký tài khoản mới để trở thành thành viên và có nhiều ưu đãi hàng ngày.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <Footer></Footer>