
/*sua*/
input.ng-invalid{
    border: 1px solid #ff0000!important;
    border-left: 3px solid #ff0000!important;
}

input.ng-valid{
    border: 1px solid rgb(87, 168, 235)!important;
    border-left: 3px solid rgb(87, 168, 235)!important;
}

input.ng-pristine{
    border: 1px solid #ccc!important;
}

.thong_bao_loi{
    color: #ff0000;
    font-weight: bold;
}
.khungchitietmuave
{
    width: 490px;
    height: 470px;
}