<menu></menu>
<div class="bangthongtindatve">
    <h1 style="box-shadow: 20pt">Thông Tin Các Vé Đã Đặt</h1>
    <div id="khungtim">
        <input type="text" id="thongtintim" name="thongtintim" style="width: 300px;" placeholder="Nhập số điện thoại..."/>
        <button type="button" id="btntim"  (click)="thongtintim" ><i class="fa fa-search"></i></button> 
    </div>
    <table id="bangthongtin" border="1px solid black" style="width: 80%; margin: auto; text-align: center">
        <tr >
            <th>STT</th>
            <th>Mã chuyến xe</th>
            <th>Điểm đi</th>
            <th>Điểm đến</th>
            <th>Ngày đi</th>
            <th>Số lượng vé</th>
            <th>Số ghế</th>
            <th>Giờ đi</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                    <button type="button" id="btnnhanve"  (click)="thongtinnhanve" ><i class="fa fa-check"></i>Nhận</button>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</div>
<Footer></Footer>