<menu></menu>
<img src="assets/Content/img/private/button-19006067-03.png" class="hotlinebutton-fixed" alt="hotline futabus" />
<div id="br-cover-content">
    <m_modalcontent></m_modalcontent>
    <div>
        <div id="sb-site">
            <div class="br-header">
            </div>
            <section id="body-content">
                <div class="full-width-banner">
                    <a href="2/ve-xe-phuong-trang-the-le-chuong-trinh-khuyen-mai-giam-gia-ve-khu-hoi-tet-2018-len-den-35-240.html"><img
                            src="../uploads/useravatar/banner%20web%20landing%20page-02.png" alt=""></a>
                    <div class="container">
                        <div class="posts-item clearfix">
                            <h3 class="text-uppercase">Kỷ niệm 15 năm thành lập FUTA (2001-2016)</h3>
                        </div>
                    </div>
                    <img src="assets/Content/img/promotion/%5bnew%5d-landing-page-header.png" alt="">
                </div>
                <div class="container">
                    <div class="posts-item clearfix">
                        <h3 class="text-uppercase">Đi xe Phương Trang - Phúc Lộc đầy tràn</h3>
                    </div>
                </div>
                <div class="full-width-banner">
                    <img src="assets/Content/img/banner/khuyenmaitrungxe.png" alt="">
                </div>
            </section>
        </div>
        <Footer>
        </Footer>
    </div>
</div>