<section id="body-news" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="assets/Content/img/customer.png" />
                    <h5>
                        <!--<a href="#">Hơn 20 triệu lượt khách</a>-->
                        <a [routerLink]="'/gioithieu'">Hơn 20 triệu lượt khách </a>

                    </h5>
                    <p>Phương Trang phục vụ hơn 20 triệu lượt khách/ bình quân 1 năm trên toàn quốc</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="assets/Content/img/home.png" />
                    <h5>
                        <a [routerLink]="'/gioithieu'">Hơn 200 Phòng vé, Trạm trung chuyển</a>

                    </h5>
                    <p>Phương Trang có hơn 200 Phòng vé, Trạm trung chuyển, Bến xe... trên toàn hệ thống FUTA</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="assets/Content/img/tech.png" />
                    <h5>
                        <a [routerLink]="'/gioithieu'">Hơn 1,000 chuyến mỗi ngày</a>

                    </h5>
                    <p>Phương Trang phục vụ hơn 1000 chuyến xe đường dài và liên tỉnh mỗi ngày.</p>
                </div>
            </div>
        </div>
    </div>
</section>